html{
	font-family: 'Open Sans', sans-serif;

}

nav{
	background-color:#071C71;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	color: white;
}

nav li{
	list-style-type: none;
	display: inline-block;
}

nav li+li{
	margin-left:20px; 
}
nav a{
	color: white;
	text-decoration: none;
}

nav a:hover{
	text-decoration: underline;
}

nav ul{
	float: left;
}


#connection{
	float: right;
	margin: 5px 15px; 
}

#connection p{
	margin: 0;
}

#content{
	margin-top:60px;
}

article{
	float: left;
	margin: 10px;
	width: 450px;
	padding: 15px;	
	color: white;
	background-color: #1533AD;
}

article:nth-child(3n+3){
	float: right;
}

section{
	margin: 0 auto;
	width: 1000px;
}

.tags{
	list-style-type: none;
	font-style: italic;
}

.tags li{
	display: inline;
}

.tags a{
	text-decoration: none;
	color: white;
}

.tags a:hover{
	text-decoration: underline;
}

.tags li+li:before{
	content: ",";
}

.comments{
	list-style-type: none;
}

.comments > li{
    background-color:#4965D6;
    display: block;
    margin: 10px 0;
    padding: 5px;
    width: 360px;
}

.commentSection input{
	background-color:#4965D6;
	width: 80px;
	padding: 5px;
	color: white;
	border: none;
	position: relative;
	bottom: 15px;
	left: 15px;
	cursor: pointer;
}

.commentSection textarea{
	margin-left:10px;
	margin-top: 10px; 
	width: 320px;
}